.image-w img {
  display: block;
  width: 100%;
  height: auto;
}

.spinner {
  width: 10em;
  height: 10em;
  position: relative;
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid snow;
  opacity: .8;
  overflow: hidden;
  -ms-animation: spinner 1s infinite linear 0s;
  animation: spinner 1s infinite linear 0s;
}

@keyframes spinner {
  0% {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
  }
}


.percentage{
  position: absolute;
  right: 45%;
  font-family: Andale Mono;
  font-size: 30px;
  font-weight: bolder;
}

.footerSelect{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 30vh;
  background-color: cadetblue;
}

.clientDeviceInfo{
  position: fixed;
  bottom: 0;
  right: 0;
  /* width: 10vw; */
  color: #000;
  font-weight: 20vh;
  /* background-color: gold; */
}
